/*INDEX CSS*/
#main-content header h1{
    color: #161616;
}

#main-content article h2{
    color: #161616;
    font-size: 4rem;

    text-align: center;
    margin-top: 10%;
}

#main-content article p{
    color: #161616;

    text-align:center;
    padding: 10%;
}
#main-content footer{
    text-align: center;
}
#main-content footer a input{
    background-color: #EEEEEE;
    width: 10rem;
    height: 5rem;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 600;
}
#main-content footer a input:hover{
    
    background-color: #9e8686;
}
#aside-content img{
    width: 100%;
    height: 100%; 
}
@media (max-width: 600px) {
    #main-content header h1{
        font-size: .8em;
    }
    #main-content article h2{
        font-size: 2rem;
    
        margin-top: 2%;
    }
    #main-content article p{
        padding: 5%;
    }
    #main-content footer a input{
        width: 5rem;
        height: 2rem;
        font-size: .5em;
    }
}











